<section class="footer">
    <div class="max-width">
        <div class="main-footer p-30-0">
            <div class="left-footer">
                <div class="lf-left-footer p-r-35">
                    <p class="fira-30-wht"><strong>¡Unete Ahora!</strong></p>
                    <p class="fira-20-wht">Forma parte de Myband el</p>
                    <p class="fira-20-wht">sistema más fácil de usar, la</p>
                    <p class="fira-20-wht">la mejor organización a solo un</p>
                    <p class="fira-20-wht">clic!</p>
                </div>
                <div class="lf-right-footer">
                    <a class="btn-wht-footer" href="#">Registrarme</a>
                </div>
            </div>
            <div class="footer-line">
            </div>
            <div class="right-footer">
                <a class="fira-20-wht alink-20-wht" href="#">Acerca de nosotros</a>
            </div>
        </div>
    </div>
</section>
