<div class=" navegador-landing">
    <nav class="navegador-index max-width">
        <div>
            <a href="#"><img src="/assets/images/logo-white.svg"></a>
        </div>
        <div>
            <ul>
                <li><a class="fira-16-wht p-r-10" href="#">Inicio</a></li>
                <li><a class="fira-16-wht" href="#instrucciones">¿Cómo funciona?</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li *ngIf="username.length != 0"><a class="fira-16-wht p-r-10" href="login">{{username}}<i class='fas fa-user-cog user-icon'></i></a></li>
                <li *ngIf="username.length == 0"><a class="fira-16-wht p-r-10" href="login">Iniciar sesión</a></li>
                <li *ngIf="username.length == 0"><a class="btn-wht" href="register">Registrate</a></li>
            </ul>
        </div>
    </nav>
</div>
