<div class=" navegador-landing">
    <nav class="navegador-index max-width">
        <div>
            <a href="#"><img src="/assets/images/logo-white.svg"></a>
        </div>
        <div>
            <ul>
                <li><a class="fira-16-wht p-r-10" href="#">Inicio</a></li>
                <li><a class="fira-16-wht" href="#instrucciones">¿Cómo funciona?</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a class="fira-16-wht p-r-10" href="login">Iniciar sesión</a></li>
                <li><a class="btn-wht" href="#">Registrate</a></li>
            </ul>
        </div>
    </nav>
</div>
