<app-navbar></app-navbar>
<section>
    <div class="first-section">
        <div class="cover-background p-b-180">
            <div class="text-center max-width">
                <p class="quesr-40-wht p-t-80">El mejor sistema de organización de bandas!</p>
                <p class="quesr-40-wht p-t-10 p-b-100">¡Unete Ya!</p>
                <a class="btn-gradient" href="#">Registrarme!</a>
            </div>
        </div>
    </div>
</section>
<section class="max-width">
    <div id="instrucciones" class="p-b-100">
        <div class="text-center p-t-40">
            <p class="fira-30-blu p-b-20"><strong>¿Cómo funciona?</strong></p>
            <div class="steps-card">
                <p class="quest-18-grey">Paso 1</p>
                <img src="/assets/images/steps.svg">
                <p class="quest-18-grey p-t-20">Registrare y llena la información de tu perfil</p>
            </div>
        </div>
        <div class="steps-flex">
            <div class="p-0-30">
                <p class="fira-30-blu p-b-20 text-center">Si eres un Diseñador...</p>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-10-15">
                        <div class="steps-card text-center">
                            <p class="quest-18-grey">Paso 2</p>
                            <img class="step-img" src="/assets/images/musicalnotes.svg">
                            <p class="quest-18-grey p-t-20">Edita canciones y partituras</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 p-10-15">
                        <div class="steps-card text-center">
                            <p class="quest-18-grey">Paso 3</p>
                            <img class="step-img" src="/assets/images/playlist.svg">
                            <p class="quest-18-grey p-t-20">Crea tu propia lista de canciones</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-0-30">
                <p class="fira-30-blu p-b-20 text-center">Si eres un Manager...</p>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-10-15">
                        <div class="steps-card text-center">
                            <p class="quest-18-grey">Paso 2</p>
                            <img class="step-img" src="/assets/images/search.svg">
                            <p class="quest-18-grey p-t-20">Edita canciones y partituras</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 p-10-15">
                        <div class="steps-card text-center">
                            <p class="quest-18-grey">Paso 3</p>
                            <img class="step-img" src="/assets/images/booking.svg">
                            <p class="quest-18-grey p-t-20">Crea tu propia lista de canciones</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="phone-sec max-width ">
    <div class="p-b-100">
        <p class="fira-30-blu p-b-20 text-center"><strong>¿Eres un músico?</strong></p>
        <p class="text-center quest-18-grey">Descarga nuestra App</p>
        <p class="text-center quest-18-grey">MyMusic para ver listas, letras</p>
        <p class="text-center quest-18-grey">y partituras!</p>
        <div class="phone-flex p-t-20">
            <div class="p-0-10">
                <img class="phone-img" src="/assets/images/app1.PNG">
            </div>
            <div class="p-0-10">
                <img class="phone-img" src="/assets/images/app2.PNG">
            </div>
            <div class="p-0-10">
                <img class="phone-img"src="/assets/images/app3.PNG">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
