.wrapp-login{
    display: flex;
}
.login-image{
    width: calc(100% - 800px);
    background-size: cover;
    background-position: center;
    background-image: url("/assets/images/login.jpg");
    position: relative;
   
}
.login-image-grd{
    width: 100%;
    height: 100%;
    background: rgb(56,41,131);
    background: radial-gradient(circle, rgba(56,41,131,.5) 0%, rgba(56,56,56,.5) 100%);   
}
.login-box{
    width: 800px;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login ::placeholder {
    color: #676767;
    opacity: 1; 
}
.login-box div{
    padding-left: 0;
    padding-right: 0;
}
.login-box .back-icon{
    position: absolute;
    top: 20px;
    left: 20px;
}
.login-box .row{
    margin-left: 0;
    margin-right: 0;
}
.login-box .back-icon a{
    color: #382983;
    text-decoration: none;
    transition: .3s ease-in-out;
}
.login-box .back-icon a:hover{
    color: #0087D1;
}