<div class="wrapp-login">
  <div class="login-box">
    <div class="back-icon">
      <a href="#"><i class="fas fa-reply fsize-30"></i></a>
    </div>
    <div class="row">
      <div class="col-md-12 text-center p-b-20">
        <img src="/assets/images/logo-blu.svg">
      </div>
      <div class="col-md-12 text-center p-b-40">
        <h1 class="quest-30-blu">Accede a Myband</h1>
      </div>
      <div class="col-md-12 text-center p-b-20">
        <input class="input-gr-blu" type="text" placeholder="Nombre de usuario...">
      </div>
      <div class="col-md-12 text-center p-b-40"> 
        <input class="input-gr-blu" type="password" placeholder="Contraseña...">
      </div>
      <div class="col-md-12 text-center p-b-60">
        <button class="btn-lblu fsize-20" >Iniciar Sesión</button>
      </div>
      <div class="col-md-12 text-center">
        <p class="quest-18-grey">¿Aún no tienenes una cuenta? <a class="quest-20-lblu alink-20-lblu" href="register"> Créala aquí</a></p>
      </div>
    </div>
  </div>
  <div class="login-image">
    <div class="login-image-grd"></div>
  </div>
</div>