<div class="container-fluid">
    <img class="logo-flotante" src="/assets/images/logo-trans.png">
    <div *ngIf="apiDataService.successMessage" class="alert alert-success notificacion-flotante" role="alert">
      {{apiDataService.actualMessageServer}} <a href="#" (click)="apiDataService.closeNotification()">X</a>
    </div>
    <div *ngIf="apiDataService.failMessage" class="alert alert-warning notificacion-flotante" role="alert">
      {{apiDataService.actualMessageServer}} <a href="#" (click)="apiDataService.closeNotification()">X</a>
    </div>
    <div class="row fullpage-centered" style="background-image: url(./assets/images/img2.jpg);background-size: cover;">
      <div class="col-sm">
        
      </div>
      <div class="col-sm" style="text-align: -webkit-center;"> 
        <div class="card" style="width: 90%;">
          <img class="card-img-top" src="/assets/images/fondo_titulo_login.jpg" style="height: 40px;">
          <div class="card-body" style="padding: 0px 45px;">
            <div class="row">
              <h4 style="padding-top: 10px;font-weight: 600;font-size: x-large;">Inicio de sesión</h4>
            </div>
            <div class="row">
              <label class="">Usuario:</label>
            </div>
            <div class="row">
              <input [(ngModel)]="username" class="input-group-text full-width text-left" placeholder="Ingrese su usuario">
            </div>
            <div class="row">
              <label class="" style="padding-top: 10px;">Contraseña:</label>
            </div>
            <div class="row">
              <input [(ngModel)]="password" (keyup.enter)="login()" type="password" class="input-group-text full-width text-left" placeholder="Ingrese su contraseña">
            </div>
            <div class="row" style="padding: 15px 0px;">
              <button (click)="login()" class="btn btn-primary" style="background-color: #29333f;">Iniciar sesión</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>
  