<div class="wrapp-register">
    <div class="register-box">
        <div class="back-icon">
            <a href="#"><i class="fas fa-reply fsize-30"></i></a>
        </div>
        <div class="row">
            <div class="col-md-12 text-center p-b-20">
                <img src="/assets/images/logo-blu.svg">
            </div>
            <div class="col-md-12 text-center p-b-40">
                <h1 class="quest-30-blu">Accede a Myband</h1>
            </div>
            <div class="col-md-12 p-b-20">
                <div class="fill-box">
                    <div class="width-50p width-50-100">
                        <div>
                            <p class="quest-18-blu p-b-20">Información de la cuenta</p>
                            <div class="p-b-20">
                                <input class="input-gr-blu width-90p" type="text" placeholder="Nombre de usuario...">
                            </div>
                        </div>
                        <div class="p-b-20">
                            <input class="input-gr-blu width-90p" type="password" placeholder="Contraseña...">
                        </div>
                        <div class="p-b-20">
                            <input class="input-gr-blu width-90p" type="password" placeholder="Confirmar contraseña...">
                        </div>
                    </div>
                    <div class="width-50p width-50-100">
                        <div>
                            <p class="quest-18-blu p-b-20">Información personal</p>
                            <div class="p-b-20">
                                <input class="input-gr-blu width-90p" type="text" placeholder="Nombre(s)">
                            </div>
                        </div>
                        <div class="p-b-20">
                            <input class="input-gr-blu width-90p" type="email" placeholder="Correo">
                        </div>
                        <div class="p-b-20">
                            <p class="quest-18-blu p-b-10">Tipo de cuenta:</p>
                            <div class="row register-box-check">
                                <div class="col-lg-6">
                                    <label class="quest-18-blu"> <input class="" type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span> 
                                        <p class="p-l-20">Manager</p>
                                    </label>
                                </div>
                                <div class="col-lg-6">
                                    <label class="quest-18-blu"> 
                                        <input class="" type="radio" name="radio">
                                        <span class="checkmark"></span> 
                                        <p class="p-l-20">Live Experience Designer</p> 
                                    </label>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 p-b-20">
                <div class="wrapp-register-btns">
                    <div class="p-0-10">
                        <button class="btn-gray" >Cancelar</button>
                    </div>
                    <div class="p-0-10">
                        <button class="btn-lblu" >Registrarme</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="register-img">
        <div class="register-img-grd"></div>
    </div>
</div>
