<div>
    <div id="mySidenav" [class]="'side-sidebar ' + utilitiesService.sidebarClass.toString()">
        <app-sidebar class="sidebar" [activeLink]="0" [isManager]="dataSessionService.user.type.toString()=='1'"
            [nameUser]="dataSessionService.user.name" [imageurl]="dataSessionService.user.haveImage"
            [idUser]="dataSessionService.user.idUser" [imageSrc]="dataSessionService.user.imageBlob"
            [setList]="dataSessionService.elementsLed.setsList"></app-sidebar>
    </div>
    <div id="main" [class]="'side-content ' + utilitiesService.navbarClass.toString()">
        <app-navbar-dashboard></app-navbar-dashboard>
        <div class="p-t-20">
            <div class="info-dashboard">
                <h1 class="fira-30-grey">Mis Repertorios</h1>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="search-bar p-t-20">
                            <input [(ngModel)]="searchValue" (ngModelChange)="filterByName($event)" class="p-input" type="text" placeholder="Buscar una lista...">
                            <button class="search-btn">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 disf-fend p-t-20r">
                        <button (click)="initNewRepertoire()" class="btn-lblu" data-toggle="modal" data-target="#editNewModal"><i
                                class="fas fa-plus"></i> Añadir repertorio</button>
                    </div>
                </div>

                <div class="row p-t-40">
                    <div *ngFor="let repertorie of repertoriesFiltered; let i = index" class="col-lg-4 col-md-6">
                        <div class="rep-card">
                            <p class="fira-16-grey text-center p-b-10"><strong>{{repertorie.name}}</strong></p>
                            <div class="rep-line"></div>
                            <p class="quest-15-grey p-t-20">{{repertorie.band.name}}</p>
                            <p *ngIf="repertorie.event.name.length == 0" class="quest-15-grey p-t-10">No se le ha asignado ningun evento</p>
                            <p *ngIf="repertorie.event.name.length != 0" class="quest-15-grey p-t-10">{{repertorie.event.name}}</p>
                            <p *ngIf="repertorie.event.name.length != 0" class="quest-12-grey p-t-10">Fecha: {{repertorie.event.date}}</p>
                            <p *ngIf="repertorie.event.name.length != 0" class="quest-12-grey p-t-10">{{repertorie.event.place}}</p>
                            <p *ngIf="repertorie.event.name.length != 0" class="quest-12-grey p-t-10">{{repertorie.event.location}}</p>
                            <p *ngIf="repertorie.event.name.length != 0" class="quest-12-grey p-t-10">{{repertorie.event.tour}}</p>
                            <div class="rep-tag p-t-30">
                                <div class="tagsini">
                                    <p class="quest-10-grey">{{repertorie.tag.name}}</p>
                                </div>
                            </div>
                            <div class="p-t-30">
                                <div class="row">
                                    <div class="col-8">
                                        <button class="list-btn" type="button" data-toggle="collapse"
                                            [attr.data-target]="'#collapseExample' + i" aria-expanded="false"
                                            [attr.aria-controls]="'collapseExample'+i">
                                            Ver listas <i class="fas fa-angle-down p-l-5"></i>
                                        </button>
                                    </div>
                                    <div class="col-4 text-end">
                                        <button (click)="selectForDelete(repertorie.idSetlist)" class="rep-trash" data-toggle="modal" data-target="#trashModal"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="collapse" [id]="'collapseExample'+i">
                                    <div class="card card-body">
                                        <p *ngFor="let set of repertorie.sets; let i = index"
                                            class="quest-12-grey list-resu">{{set.idSet}} - {{set.name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="rep-edit">
                                <button (click)="initSelectionRepertoire(repertorie)" data-toggle="tooltip" data-placement="top" title="Editar repertorio"
                                    data-toggle="modal" data-target="#editNewModal">
                                    <i class="fas fa-pen-square"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--MODAL NUEVO/EDITAR REPERTORIO -->
            <div class="modal fade" id="editNewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="fira-30-blu" id="exampleModalLabel">Repertorio</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div>
                                        <input [(ngModel)]="actualRepertoire.name" class="input-text" type="text" placeholder="Nombre del repertorio...">
                                    </div>
                                    <div *ngIf="selectedBand.length == 0" class="p-t-20">
                                        <p class="quest-15-grey">Selecciona una banda</p>
                                        <div class="p-t-20">
                                            <ng-multiselect-dropdown
                                              [placeholder]="'Lista de bandas'"
                                              [settings]="dropdownSearchBandSettings"
                                              [data]="dataSessionService.elementsLed.bands"
                                              (onSelect)="onBandSearchSelect($event)"
                                              (onDeSelect)="onBandSearchSelect($event)"
                                              [(ngModel)]="selectedBand"
                                              [disabled]="false">
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <div *ngIf="selectedBand.length != 0" class="p-t-20">
                                        <p class="quest-15-grey">Banda Seleccionada</p>
                                        <div >
                                            {{selectedBand[0].name}}
                                        </div>
                                    </div>
                                    <div class="p-t-20">
                                        <p class="quest-15-grey">Asignale un evento</p>
                                        <div class="p-t-20">
                                            <ng-multiselect-dropdown
                                              [placeholder]="'Lista de eventos'"
                                              [settings]="dropdownEventsOfBandSettings"
                                              [data]="eventsAvailableOfBand"
                                              (onSelect)="onEventSearchSelect($event)"
                                              (onDeSelect)="onEventSearchSelect($event)"
                                              [(ngModel)]="selectedEvent"
                                              [disabled]="false">
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <div class="p-t-20">
                                        <p class="quest-15-grey">Ponle etiquetas</p>
                                        <ng-multiselect-dropdown
                                            [placeholder]="'Buscar por tag'"
                                            [settings]="dropdownSearchTagSettings"
                                            [data]="dataSessionService.tagsCatalog"
                                            (onSelect)="onTagSearchSelect($event)"
                                            (onDeSelect)="onTagSearchSelect($event)"
                                            [(ngModel)]="selectedSearchTag"
                                            >
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div>
                                        <p class="quest-20-grey">Selecciona las listas de canciones</p>
                                    </div>
                                    <div>
                                        <p class="quest-15-grey">Listas seleccionadas: {{countSelected()}} de {{setsOfBand.length}}</p>
                                    </div>
                                    <div class="list-box">
                                        <div *ngFor="let set of setsOfBand; let i = index"
                                            [class]="'list-card'+( set.selected == true? '' : ' list-card-selected')"
                                            (click)="selectSet(i)">
                                          <div class="row">
                                              <div class="col-4">
                                                <img *ngIf="set.haveImage == false" src="/assets/images/no-list.svg" class="sm-img">
                                                <img *ngIf="set.haveImage == true" [src]="set.imageBlob" class="sm-img">
                                              </div>
                                              <div class="col-8">
                                                  <p class="text-box-1">{{set.name}}</p>
                                                  <p>{{set.numberSongs}} Canciones</p>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button (click)="initNewRepertoire()" #CloseModal type="button" class="btn-gray" data-dismiss="modal">Cancelar</button>
                            <button (click)="save()" type="button" class="btn-lblu">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--MODAL PARA ELIMINAR-->
            <div class="modal fade" id="trashModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title fira-30-grey" id="exampleModalLabel">¿Estas seguro que quieres eliminar este repertorio?</h5>
                        </div>
                        <div class="modal-body text-center">
                            <img src="/assets/images/no-song.svg">
                        </div>
                        <div class="modal-footer">
                            <button #CloseModalConfirmDelete type="button" class="btn-gray" data-dismiss="modal">Cancelar</button>
                            <button (click)="deleteConfirmed()" type="button" class="btn-red">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
