.info-dashboard{
    box-shadow: 0px 0px 6px -3px rgba(56,41,131,1);
    padding: 20px;
    border-radius: 10px;
    min-height: 80vh;
}
.rep-card{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px auto;
    position: relative;
    border-radius: 10px;
}
.rep-tag{
    display: flex;
    justify-content: space-around;
}
.tagsini{
    border-radius: 10px;
    padding: 1px 12px;
    border: 1px solid #0087D1;
}
.rep-line{
    width: 100%;
    height: 1px;
    background-color: #353535;
    opacity: .2;
}
.list-btn{
    width: 100%;
    background-color: rgba(56,41,131,1);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 2px;
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
    transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-btn:hover{
    opacity: .8;
}
.list-resu{
    border-bottom: 1px solid #353535;
    padding: 2px;
}
.rep-edit{
    position: absolute;
    top: 5px;
    right: 5px;
}
.rep-edit button{
    font-size: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #382983;
    transition: .3s ease-in-out;
}
.rep-edit button:hover{
    color: #0087D1;
}
.disf-fend{
    display: flex;
    align-items: flex-end;
}
.rep-trash{
    color: red;
    background: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.rep-trash:hover{
    opacity: .5;
}
#trashModal .modal-body img{
    max-width: 150px;
    width: 100%;
    height: auto;
    opacity: .6;
}
#trashModal .modal-footer, #trashModal .modal-header, #editNewModal .modal-footer, #editNewModal .modal-header{
    justify-content: center;
    border: none;
}
#editNewModal .input-text{
    width: 100%;
    height: 40px;
    border:1px solid #382983;
    border-radius: 10px;
    padding-left: 15px;
    transition: .3s ease-in-out;
}

#editNewModal .input-text:focus{
    outline: none;
    border: 1px solid #0087D1;
}
.list-card{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    padding: 10px;
    border-left: 10px solid #382983;
    margin: 10px auto;
    width: 90%;
    cursor: pointer;
}
.list-card-selected{
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  border-left: 10px solid #0087D1;
}
.list-box{
    height: 300px;
    overflow-y: scroll;
}
.sm-img{
    width: 60px;
    height: 60px;
}
button#dropdownMenuButton{
  border: 1px solid #382983;
  background: white;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Questrial', sans-serif;
  height: 40px;
  color: rgb(117, 117, 117);
  cursor: pointer;
  transition: .3s ease-in-out;
}
button#dropdownMenuButton:hover{
  border: 1px solid #0087D1;
}
.dropdown-menu.show{
  width: 100%;
}
