<div class="main-manager">
    <div id="mySidenav" [class]="'side-sidebar ' + utilitiesService.sidebarClass.toString()">
        <app-sidebar class="sidebar"
            [activeLink]="3"
            [isManager]="dataSessionService.user.type.toString()=='1'"
            [nameUser]="dataSessionService.user.name"
            [imageurl]="dataSessionService.user.haveImage"
            [idUser]="dataSessionService.user.idUser"
            [imageSrc]="dataSessionService.user.imageBlob"
            [bandsList]="dataSessionService.elementsManager.bands"
            ></app-sidebar>
    </div>
    <div id="main" [class]="'side-content ' + utilitiesService.navbarClass.toString()">
        <app-navbar-dashboard></app-navbar-dashboard>
        <div class="p-t-20">
            <div class="info-dashboard">
                <div class="p-b-20">
                    <h1 class="fira-30-grey">Proximos eventos</h1>
                    <div class="dis-fle-alcent p-t-20">
                        <div class="search-bar wid-70p">
                            <input [(ngModel)]="searchValue" (ngModelChange)="filterByName($event)"  type="text" placeholder="Buscar un evento...">
                            <button class="search-btn">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>

                        <div class="p-l-20">
                            <button #btnCOpenModal (click)="modalEvent(true)" class="btn-lblu" data-toggle="modal" data-target="#concertModal"><i class="fas fa-plus p-r-5"></i>Crear un evento</button>
                            <button style="display: none;" #concertModasl class="btn-lblu" data-toggle="modal" data-target="#concertModal"><i class="fas fa-plus p-r-5"></i>editar un evento</button>
                        </div>
                    </div>
                </div>
                <div class="search-tag p-b-20">
                  <ng-multiselect-dropdown
                      [placeholder]="'Buscar por tag'"
                      [settings]="dropdownSearchTagSettings"
                      [data]="dataSessionService.tagsCatalog"
                      (onSelect)="onTagSearchSelect($event)"
                      (onDeSelect)="onTagSearchSelect($event)"
                      [(ngModel)]="selectedSearchTag"
                      >
                  </ng-multiselect-dropdown>
                </div>
                <div>
                    <table class="table">
                        <tbody>
                            <div *ngIf="eventsFiltered.length == 0 && dataSessionService.elementsManager.upcomingEvents.length > 0" class="row text-center">
                                <div class="col-12">
                                    <img class="no-event" src="/assets/images/concert.svg">
                                </div>
                                <div class="col-12">
                                    <p class="quest-20-grey">No se ha encontrado ningún resultado...</p>
                                </div>
                            </div>
                            <div *ngIf="dataSessionService.elementsManager.upcomingEvents.length == 0" class="row text-center">
                                <div class="col-12 p-t-40">
                                    <img class="no-event" src="/assets/images/concert.svg">
                                </div>
                                <div class="col-12">
                                    <p class="quest-20-grey">No se ha encontrado ningún evento...</p>
                                </div>
                            </div>
                            <tr *ngFor="let event of eventsFiltered; let i = index" style="margin: 10px 10px;">
                                <td scope="row" class="" (click)="modalEvent(false,event)" >
                                    <div class="event-card event-btn">
                                        <div>
                                            <p class="quest-20-grey"><strong>{{event.name}}</strong></p>
                                            <p class="quest-15-grey">{{event.nameBand}}</p>
                                            <p class="fira-16-grey">{{event.date}}</p>
                                            <p class="quest-12-grey p-b-10">{{event.place}} , {{event.location}}</p>
                                            <p class="tagsito">{{event.nameTag}}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="concertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header dis-fle-jcent">
                        <h5 *ngIf="isNew" class="modal-title fira-30-blu text-center" id="exampleModalLabel">Crea tu evento!</h5>
                        <h5 *ngIf="!isNew" class="modal-title fira-30-blu text-center" id="exampleModalLabel">Editando tu evento!</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input [(ngModel)]="actualEvent.name" type="text" placeholder="Titulo del evento...">
                                <div class="p-t-20">
                                    <p>Ubicacion</p>
                                    <input [(ngModel)]="actualEvent.location" type="text" placeholder="Ubicacion del evento...">
                                </div>
                                <div class="p-t-20">
                                    <input [(ngModel)]="actualEvent.tour" type="text" placeholder="Tour del evento...">
                                </div>
                                <div class="p-t-20">
                                    <p>Fecha</p>
                                    <input [(ngModel)]="date" type="date">
                                </div>
                                <div class="p-t-20">
                                    <textarea [(ngModel)]="actualEvent.place" placeholder="Lugar del evento..." cols="30" rows="5"></textarea>
                                </div>
                                <div class="p-t-20">
                                    <ng-multiselect-dropdown
                                        [placeholder]="'Seleccione un Tag'"
                                        [settings]="dropdownTagSettings"
                                        [data]="dataSessionService.tagsCatalog"
                                        [(ngModel)]="selectedTag"
                                        >
                                    </ng-multiselect-dropdown>
                                </div>
                                <div class="p-t-20">
                                    <ng-multiselect-dropdown
                                        [placeholder]="'Seleccione la banda'"
                                        [settings]="dropdownBandSettings"
                                        [data]="dataSessionService.elementsManager.bands"
                                        [(ngModel)]="selectedBand"
                                        >
                                    </ng-multiselect-dropdown>
                                </div>

                            </div>
                            <div class="col-md-6 dis-fle-alcent">
                                <img class="max-w300" src="/assets/images/calendar.svg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer dis-fle-jcent">
                        <button #btnCloseModal type="button" class="btn-gray" data-dismiss="modal">Cancelar</button>
                        <button (click)="saveEvent()" type="button" class="btn-lblu">Guardar</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
