<div class="main-manager">
    <div id="mySidenav" [class]="'side-sidebar ' + utilitiesService.sidebarClass.toString()">
        <app-sidebar class="sidebar" 
            [activeLink]="3" 
            [isManager]="dataSessionService.user.type.toString()=='1'"
            [nameUser]="dataSessionService.user.name"
            [imageurl]="dataSessionService.user.haveImage"
            [idUser]="dataSessionService.user.idUser"
            [imageSrc]="dataSessionService.user.imageBlob" 
            ></app-sidebar>
    </div>
    <div id="main" [class]="'side-content ' + utilitiesService.navbarClass.toString()">
        <app-navbar-dashboard></app-navbar-dashboard>
        <div class="p-t-20">
            <div class="info-dashboard">
                <div class="p-b-20">   
                    <h1 class="fira-30-grey">Proximos eventos</h1>
                    <div class="dis-fle-alcent p-t-20">
                        <div class="search-bar wid-70p">
                            <input  type="text" placeholder="Buscar un evento...">
                            <button class="search-btn">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="p-l-20">
                            <button class="btn-lblu" data-toggle="modal" data-target="#concertModal"><i class="fas fa-plus p-r-5"></i>Crear un evento</button>
                        </div>
                    </div>  
                </div>
                <div>
                    <table class="table">
                        <tbody>
                            <tr >
                                <td scope="row">
                                    <div class="event-card">
                                        <div>
                                            <p>Jueves 14 de Mayo del 2020</p>
                                            <p>16:50 P.M.</p>
                                            <p>Club Leones Chihuahua Chih.</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="p-t-10">
                                <td scope="row">
                                    <div class="event-card">
                                        <div>
                                            <p>Jueves 14 de Mayo del 2020</p>
                                            <p>16:50 P.M.</p>
                                            <p>Club Leones Chihuahua Chih.</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="p-t-10">
                                <td scope="row">
                                    <div class="event-card">
                                        <div>
                                            <p>Jueves 14 de Mayo del 2020</p>
                                            <p>16:50 P.M.</p>
                                            <p>Club Leones Chihuahua Chih.</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="concertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header dis-fle-jcent">
                      <h5 class="modal-title fira-30-blu text-center" id="exampleModalLabel">Crea tu evento!</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Titulo del evento...">
                                <div class="p-t-20">
                                    <p>Fecha</p>
                                    <input type="date">
                                </div>
                                <div class="p-t-20">
                                    <input type="time">
                                </div>
                                <div class="p-t-20 p-b-20">
                                    <textarea placeholder="Lugar del evento..." cols="30" rows="5"></textarea>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-blu dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Banda
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Bandita1</a>
                                      <a class="dropdown-item" href="#">Bandita2</a>
                                      <a class="dropdown-item" href="#">Bandita3</a>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-6 dis-fle-alcent">
                                <img class="max-w300" src="/assets/images/calendar.svg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer dis-fle-jcent">
                        <button type="button" class="btn-gray" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn-lblu">Guardar</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>