<app-navbar></app-navbar>
<section class="max-width ">
    <div class="us-background p-t-80 p-b-100">
        <div>
            <h1 class="fira-30-blu p-t-20">Acerca de nosotros</h1>
            <p class="quest-18-grey">Myband y Mymusic son proyectos que se trabajaron</p>
            <p class="quest-18-grey">en conjunto para la materia de User Experience</p>
            <p class="quest-18-grey">de la carrera de Ciencias de la computación.</p>
            <p class="quest-18-grey">Con el desarrollo se deseaba aplicar conocimientos</p>
            <p class="quest-18-grey">adquiridos a lo largo de la carrera y en la materia de UX.</p>
        </div>
        <div>
            <img src="/assets/images/team.svg">
        </div>
    </div>
    <section class="squares">
        <div class=" p-b-100">
            <h1 class="fira-30-blu text-center p-b-20">Nuestro equipo</h1>
            <div class="row">
                <div class="col-md-4 col-sm-12 us-flex p-b-20">
                    <div class="card-us">
                        <img src="/assets/images/raul.svg">
                        <p class="quest-18-grey"><strong>Raul Alberto Diaz Aguirre</strong></p>
                        <p class="quest-15-grey">User Experience Designer</p>
                        <p class="quest-15-grey">Developer</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 us-flex p-b-20">
                    <div class="card-us">
                        <img src="/assets/images/julieta.svg">
                        <p class="quest-18-grey"><strong>Julieta Navarro Rivera</strong></p>
                        <p class="quest-15-grey">Product Owner</p>
                        <p class="quest-15-grey">Developer</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 us-flex p-b-20">
                    <div class="card-us">
                        <img src="/assets/images/mario.svg">
                        <p class="quest-18-grey"><strong>Luis Mario Muñeton Pando</strong></p>
                        <p class="quest-15-grey">User Experience Designer</p>
                        <p class="quest-15-grey">Developer</p>
                    </div>
                </div>
                
            </div>
            <div class="row p-t-40">
                <div class="col-md-6 col-sm-12 us-flex p-b-20">
                    <div class="card-us">
                        <img src="/assets/images/flor.svg">
                        <p class="quest-18-grey"><strong>Flor Alejandra Legarda Araujo</strong></p>
                        <p class="quest-15-grey">Scrum Master</p>
                        <p class="quest-15-grey">User Experience Designer</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 us-flex p-b-20">
                    <div class="card-us">
                        <img src="/assets/images/luismi.svg">
                        <p class="quest-18-grey"><strong>Luismiguel Ortiz Alvarez</strong></p>
                        <p class="quest-15-grey">Application Architect</p>
                        <p class="quest-15-grey">Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</section>
<app-footer></app-footer>
