.active-link{
    padding: 20px;
    margin: -1px 15px -1px 32px;
    width: 100%;
    background-color: whitesmoke;
    border-top-left-radius:     7em;
    border-bottom-left-radius:  7em;
    text-align: left;
    font-size: large;
    display: flex;
    align-items: center;
    border: 0px !important;
    cursor: pointer;
}

.border-top{
    padding: 20px;
    margin: -1px 15px -1px 0px;
    width: 100%;
    background-color: #d6d6d6;
    border-bottom-right-radius: 7em;
    padding-left: 30%;
    display: flex;
    align-items: center;
    border: 0px !important;
}

.border-bottom{
    padding: 20px;
    margin: -1px 15px -1px 0px;
    width: 100%;
    background-color: #d6d6d6;
    border-top-right-radius:    7em;
    padding-left: 30%;
    display: flex;
    align-items: center;
    border: 0px !important;
}

.normal-link{
    padding: 20px;
    margin: -1px 15px -1px 0px;
    width: 100%;
    background-color: #d6d6d6;
    padding-left: 30%;
    display: flex;
    align-items: center;
    border: 0px !important;
}

  /* Darker background on mouse-over */
  .link:hover    {
    background-color: #c5b68a;
    cursor: pointer;
  }