<div *ngIf="isManager" class="sidebar">
    <div class="text-center p-t-10 p-b-15">
        <a href="#"><img src="/assets/images/logo-white.svg"></a>
    </div>
    <div class="wht-line"></div>
    <div class="p-t-20">
        <div class="text-center">
            <img *ngIf="!imageurl" class="author" src="/assets/images/flor.svg">
            <img *ngIf="imageurl" class="author" [src]="imageSrc">
        </div>
        <div class="text-center p-t-15">
            <p class="fira-18-wht">{{nameUser}}</p>
        </div>
    </div>
    <div class="p-t-30">
        <ul>
            <li>
                <a class="quest-16-wht" [class]="classesLinks[0]" routerLink="/dashboard/manager" routerLinkActive="active">
                    <i class="fas fa-home p-r-20"></i>Inicio</a>
            </li>
            <li>
                <a class="quest-16-wht" [class]="classesLinks[1]" routerLink="/dashboard/manager/admin-bands" routerLinkActive="active">
                    <i class="fas fa-guitar p-r-20"></i>Bandas</a>
                <a *ngFor="let item of bandsList; let i = index" 
                    class="second-link p-r-20"
                    [style]="( idActiveBand == item.idBand ) ? 'border-left: 30px solid #0087D1;' : ''" 
                    routerLink="/dashboard/manager/band-info/{{item.idBand}}" routerLinkActive="active">
                    {{item.name}}
                    <br>
                </a>
                    
            </li>
            <li>
                <a class="quest-16-wht" [class]="classesLinks[2]" routerLink="/dashboard/manager/add-band" routerLinkActive="active">
                    <i class="fas fa-plus p-r-20"></i>Añadir Bandas</a>
            </li>
            <li>
                <a class="quest-16-wht" [class]="classesLinks[3]" routerLink="/dashboard/manager/admin-events" routerLinkActive="active">
                    <i class="fas fa-calendar-alt p-r-20"></i>Agregar Concierto</a>
            </li>
            <li>
                <a class="quest-16-wht" [class]="classesLinks[4]" routerLink="/dashboard/manager/catalog" routerLinkActive="active">
                    <i class="fas fa-book p-r-20"></i>Catálogo</a>
            </li>
            <li>
                <a class="quest-16-wht" [class]="classesLinks[5]" routerLink="/dashboard/manager/settings" routerLinkActive="active">
                    <i class="fas fa-cog p-r-20"></i>Ajustes</a>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="!isManager" class="sidebar">
    <div class="text-center p-t-10 p-b-15">
        <a href="#"><img src="/assets/images/logo-white.svg"></a>
    </div>
    <div class="wht-line"></div>
    <div class="p-t-20">
        <div class="text-center">
            <img *ngIf="!imageurl" class="author" src="/assets/images/flor.svg">
            <img *ngIf="imageurl" class="author" [src]="imageSrc">
        </div>
        <div class="text-center p-t-15">
            <p class="fira-18-wht">{{nameUser}}</p>
        </div>
    </div>
    <div class="p-t-30">
        <ul>
            <li>
                <a class="quest-16-wht" [class]="classesLinks[0]" routerLink="/dashboard/led" routerLinkActive="active">
                    <i class="fas fa-home p-r-20"></i>Repertorios</a>
            </li>
            <li>
                <a class="quest-16-wht" [class]="classesLinks[1]" routerLink="/dashboard/led/my-lists" routerLinkActive="active">
                    <i class="fas fa-home p-r-20"></i>Mis listas</a>
            </li>
            <li>
                <a class="quest-16-wht" [class]="classesLinks[2]" routerLink="/dashboard/led/add-list" routerLinkActive="active">
                    <i class="fas fa-plus p-r-20"></i>Añadir lista</a>
            </li>
            <li>
                <!-- Esta ruta no venia en el mookup, preguntar que ondas -->
                <a class="quest-16-wht" [class]="classesLinks[3]" routerLink="/dashboard/led/event" routerLinkActive="active">
                    <i class="fas fa-calendar-alt p-r-20"></i>Eventos</a>
            </li>
            <li>
                <a class="quest-16-wht" [class]="classesLinks[4]" routerLink="/dashboard/led/settings" routerLinkActive="active">
                    <i class="fas fa-cog p-r-20"></i>Ajustes</a>
            </li>
        </ul>
    </div>
</div>
        
 