<div class="main-manager">
    <div id="mySidenav" [class]="'side-sidebar ' + utilitiesService.sidebarClass.toString()">
        <app-sidebar class="sidebar" 
            [activeLink]="0" 
            [isManager]="dataSessionService.user.type.toString()=='1'"
            [nameUser]="dataSessionService.user.name"
            [imageurl]="dataSessionService.user.haveImage"
            [idUser]="dataSessionService.user.idUser"
            [imageSrc]="dataSessionService.user.imageBlob" 
            [bandsList]="dataSessionService.elementsManager.bands" 
            ></app-sidebar>
    </div>
    <div id="main" [class]="'side-content ' + utilitiesService.navbarClass.toString()">
        <app-navbar-dashboard></app-navbar-dashboard>
        <div class="p-t-20">
            <div class="info-dashboard">
                <div class="p-b-20">   
                    <h1 class="fira-30-grey">Proximos eventos</h1>
                    <div class="search-bar p-t-20">
                        <input  type="text" placeholder="Buscar un evento...">
                        <button class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <tbody>
                            <tr >
                                <td scope="row">
                                    <div class="event-card">
                                        <div>
                                            <p>Jueves 14 de Mayo del 2020</p>
                                            <p>16:50 P.M.</p>
                                            <p>Club Leones Chihuahua Chih.</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="p-t-10">
                                <td scope="row">
                                    <div class="event-card">
                                        <div>
                                            <p>Jueves 14 de Mayo del 2020</p>
                                            <p>16:50 P.M.</p>
                                            <p>Club Leones Chihuahua Chih.</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="p-t-10">
                                <td scope="row">
                                    <div class="event-card">
                                        <div>
                                            <p>Jueves 14 de Mayo del 2020</p>
                                            <p>16:50 P.M.</p>
                                            <p>Club Leones Chihuahua Chih.</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row text-center">
                    <div class="col-12">
                        <img class="no-event" src="/assets/images/concert.svg">
                    </div>
                    <div class="col-12">
                        <p class="quest-20-grey">No se ha encontrado ningún evento...</p>
                    </div>  
                </div>
            </div>
            
        </div>
    </div>
</div>
