<div class="main-manager">
    <div id="mySidenav" [class]="'side-sidebar ' + utilitiesService.sidebarClass.toString()">
        <app-sidebar class="sidebar" 
            [activeLink]="1" 
            [isManager]="dataSessionService.user.type.toString()=='1'"
            [nameUser]="dataSessionService.user.name"
            [imageurl]="dataSessionService.user.haveImage"
            [idUser]="dataSessionService.user.idUser"
            [imageSrc]="dataSessionService.user.imageBlob" 
            [bandsList]="dataSessionService.elementsManager.bands" 
            [idActiveBand]="idBandOpened"
            ></app-sidebar>
    </div>
    <div id="main" [class]="'side-content ' + utilitiesService.navbarClass.toString()">
        <app-navbar-dashboard></app-navbar-dashboard>
        <div class="p-t-20 p-b-40">
            <div class="info-dashboard">
                <div class="p-b-20">   
                    <h1 class="fira-30-grey">Editar Banda</h1>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="">
                            <input [(ngModel)]="newBand.name" type="text" placeholder="Nombre de la banda">
                        </div>
                        <div class="p-t-20">
                            <textarea  [(ngModel)]="newBand.description" placeholder="Descripción de la banda..." cols="30" rows="5"></textarea>
                            <div *ngIf="newBand.description.length < 50">
                                <label>Descripcion muy corta {{newBand.description.length}} < 50</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div>
                            <!-- <input type="file" id="img" name="img" accept="image/*" class="hidden">
                            <label class="img-btn" for="img">
                                <img src="/assets/images/band.jpg">
                                <div class="overlay-img"></div>
                                <p class="new-photo">Subir foto nueva</p>
                            </label> -->


                            <div *ngIf="newBand.urlLogo.length == 0"
                                class="input-group mb-3"
                                style="    justify-content: center;">
                                <!-- file input, accepts images only. Detect when file has been picked/changed with Angular's native (change) event listener -->

                                <label *ngIf="source.length == 0">
                                    <input (change)="updateSource($event)" type="file" id="img" name="img" accept="image/*" class="hidden">
                                    <label class="img-btn" for="img">
                                        <img  src="/assets/images/upload.svg">
                                        <div class="color-img"></div>
                                        <p class="img-word quest-16-wht">Subir foto</p>
                                    </label>
                                </label>
                                <!-- img placeholder when a file has been picked. shows only when 'source' is not empty -->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                        <img *ngIf="source.length > 0" [src]="source">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 text-center p-t-10">
                                        <button *ngIf="source.length > 0"
                                            (click)="cancelImage()" class="trash-btn"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="newBand.urlLogo.length > 0" class="input-group mb-3 row">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                    <img [src]="newBand.imageBlob">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center p-t-10">
                                    <button (click)="cancelImage()"
                                    class="trash-btn"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="p-b-40 p-t-20" *ngIf="loaded">
                            <!-- <select class="selectpicker" data-live-search="true" multiple title="Escoge un genero..." data-width="100%">
                                <option >Rock</option>
                                <option>Country</option>
                                <option>Norteñas</option>
                            </select>   -->
                            <ng-multiselect-dropdown
                                [placeholder]="'Seleccione los generos'"
                                [settings]="dropdownGenresSettings"
                                [data]="dataSessionService.elementsManager.genresCatalog"
                                [(ngModel)]="this.newBand.genres"
                                >
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12"></div>
                </div>
                <div>
                    <p class="fira-20-blu">Integrantes de la banda</p>
                    <div class="dis-fle-alcent p-t-20 p-b-20">
                        <input [(ngModel)]="searchValue" (ngModelChange)="filterByName($event)" class="search-input" type="text" placeholder="Buscar integrante">
                    <button class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                    <div class="p-l-20">
                        <button (click)="cancelAddUser()" class="btn-lblu" data-toggle="modal" data-target="#addMemModal"><i class="fas fa-plus p-r-10"></i>Añadir</button>
                    </div>
                    </div>
                </div>
                <div class="member-box">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td *ngIf="newBand.bandMembers.length == 0">
                                    <div class="text-center">  
                                        <div class="profile-box">
                                            <img class="profile-pic" src="https://headsfortails15029229.files.wordpress.com/2018/03/baby-bunny.jpg">
                                        </div>
                                        <p class="fira-18-blu">Sin integrantes</p>
                                    </div>
                                </td>
                                <td *ngIf="bandMembersFiltered.length == 0 && newBand.bandMembers.length != 0">
                                    <div class="text-center">  
                                        <div class="profile-box">
                                            <img class="profile-pic" src="https://headsfortails15029229.files.wordpress.com/2018/03/baby-bunny.jpg">
                                        </div>
                                        <p class="fira-18-blu">Sin resultados</p>
                                    </div>
                                </td>
                                <td  *ngFor="let member of bandMembersFiltered; let i = index" >
                                    <div class="text-center">
                                        <p class="fira-20-blu" *ngIf="member.role.toString()=='0'">Vocalista</p>
                                        <p class="fira-20-blu" *ngIf="member.role.toString()=='1'">Teclado</p>
                                        <p class="fira-20-blu" *ngIf="member.role.toString()=='2'">Bajista</p>
                                        <p class="fira-20-blu" *ngIf="member.role.toString()=='3'">Guitarrista</p>    
                                        <div class="profile-box">
                                            <button (click)="selectForDelete(member)" class="delete-btn" data-toggle="modal" data-target="#deleteModal"><i class="far fa-times-circle"></i></button>
                                            <img *ngIf="!member.haveImage" class="profile-pic" src="https://headsfortails15029229.files.wordpress.com/2018/03/baby-bunny.jpg">
                                            <img *ngIf="member.haveImage" class="profile-pic" [src]="member.imageBlob">
                                        </div>
                                        <p class="fira-18-blu">{{member.name}}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="p-t-20 p-b-20">
                    <p class="fira-20-blu">Lista de canciones</p>
                </div>
                <div class="member-box">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td *ngIf="newBand.sets.length == 0">
                                    <div class="text-center">  
                                        <div class="profile-box">
                                            <img class="album-pic" src="/assets/images/no-song.svg">
                                        </div>
                                        <p class="fira-18-blu">Sin Listas</p>
                                    </div>
                                </td>
                                <td  *ngFor="let set of newBand.sets; let i = index" >
                                    <div class="text-center">
                                        <div class="profile-box">
                                            <img *ngIf="set.urlImage.length == 0" class="album-pic" src="/assets/images/no-song.svg">
                                            <img *ngIf="set.urlImage.length !=0" class="album-pic" [src]="set.imageBlob">
                                        </div>
                                        <p class="fira-18-blu">{{set.name}}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="dis-fle-jcent p-t-40">
                    <div class="p-0-10">
                        <button class="btn-red" data-toggle="modal" data-target="#deleteBandModal">Eliminar</button>
                        <button (click)="saveData()" class="btn-lblu">Guardar</button>
                    </div>
                </div>
                <!-- FALTA implementar -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header dis-fle-jcent">
                                <h5 class="modal-title fira-30-blu text-center" id="exampleModalLabel">¿Seguro que quieres elminar a este miembro?</h5>
                            </div>
                            <div class="modal-body text-center">
                                <img src="/assets/images/sadteam.svg">
                            </div>
                            <div class="modal-footer dis-fle-jcent">
                                <button #btnCloseDelete type="button" class="btn-gray" data-dismiss="modal">Cancelar</button>
                            <button (click)="deleteMember()" type="button" class="btn-red">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addMemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header dis-fle-jcent">
                                <h5 class="modal-title fira-30-blu" id="exampleModalLabel">Añadir integrante</h5>
                            </div>
                            <div class="modal-body">
                                <div class="search-member">
                                    <input [(ngModel)]="inputNewUser" (keyup.enter)="getNewUserData()" type="text" placeholder="Inserta el código del músico...">
                                </div>
                                <div *ngIf="newBandMember.name.length == 0"  class="row p-t-40">
                                    No se encontro el perfil
                                </div>
                                <div *ngIf="newBandMember.name.length > 5" class="row p-t-40">
                                    <div class="col-md-6 modal-box">
                                        <div>
                                            <div class="text-center">
                                                <img *ngIf="!newBandMember.haveImage" class="profile-pic" src="https://headsfortails15029229.files.wordpress.com/2018/03/baby-bunny.jpg">
                                                <img *ngIf="newBandMember.haveImage" class="profile-pic" [src]="newBandMember.imageBlob">
                                                <p class="quest-18-grey p-t-20">{{newBandMember.name}}</p>
                                            </div>
                                            <p class="quest-15-grey text-center p-t-20">{{newBandMember.description}}</p>
                                            <p class="quest-15-grey text-center p-t-20" *ngIf="newBandMember.role.toString()=='0'">Vocalista</p>
                                            <p class="quest-15-grey text-center p-t-20" *ngIf="newBandMember.role.toString()=='1'">Teclado</p>
                                            <p class="quest-15-grey text-center p-t-20" *ngIf="newBandMember.role.toString()=='2'">Bajista</p>
                                            <p class="quest-15-grey text-center p-t-20" *ngIf="newBandMember.role.toString()=='3'">Guitarrista</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 modal-box">
                                        <p class="quest-20-grey">Historial</p>
                                        <div class="modal-history" >
                                            <div *ngFor="let register of newBandMember.userHistories; let i = index" class="history-box m-10-0">
                                                <p class="fira-18-blu">{{register.bandName}}</p>
                                                <p class="quest-15-grey">{{register.description}}</p>
                                                <p class="quest-15-grey">{{register.date}}</p>
                                            </div>
                                        </div>
                                        <div class="p-t-40">
                                            <p>¿Es diseñador de experiencia?</p>
                                            <div class="row register-box-check p-t-20">
                                                <div class="col-lg-6">
                                                    <label class="quest-18-blu"> 
                                                        <input  class="" (change)="newMemberIsLiveDesigner = false" type="radio" [checked]="!newMemberIsLiveDesigner" name="radio">
                                                        <span class="checkmark"></span> 
                                                        <p class="p-l-20">No</p>
                                                    </label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="quest-18-blu"> 
                                                        <input class="" (change)="newMemberIsLiveDesigner = true" type="radio" [checked]="newMemberIsLiveDesigner" name="radio">
                                                        <span class="checkmark"></span> 
                                                        <p class="p-l-20">Si</p> 
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer dis-fle-jcent">
                                <button #btnClose (click)="cancelAddUser()" type="button" class="btn-gray" data-dismiss="modal">Cancelar</button>
                                <button  (click)="addNewBandMember()" type="button" class="btn-lblu">Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteBandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header dis-fle-jcent">
                                <h5 class="modal-title fira-30-blu text-center" id="exampleModalLabel">¿Seguro que quieres elminar esta banda?</h5>
                            </div>
                            <div class="modal-body text-center">
                                <img class="max-h250" src="/assets/images/madsinger.svg">
                            </div>
                            <div class="modal-footer dis-fle-jcent">
                                <button type="button" class="btn-gray" data-dismiss="modal">Cancelar</button>
                                <button type="button" (click)="deleteBand()" data-dismiss="modal" class="btn-red">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
