<div>
    <nav>
        <div class="">
            <button class="btn-back-wht" (click)="utilitiesService.showSidebar()">
                <i class="fas fa-bars fsize-25"></i>
            </button>
        </div>
        <div class="search flex-grow-10 text-center">
            <input class="input-gr-blu" type="text" placeholder="Buscar grupos o músicos">
            <button><i class="fas fa-search"></i></button>
        </div>
        <div>
            <button (click)="logOut()" class="btn-back-wht" >
                Salir<i class="fas fa-door-open fsize-25"></i>
            </button>
        </div>
    </nav>
</div>