.info-dashboard{
    box-shadow: 0px 0px 6px -3px rgba(56,41,131,1);
    padding: 20px;
    border-radius: 10px;
    min-height: 80vh;
}
.song-box{
    display: flex;
    border-radius: 10px;
    border: 1px solid #353535;
    margin: 20px 0;
    transition: .3s ease-in-out;
}
.song-box .num{
    border-right: 1px solid #353535;
    padding: 10px;
    display: flex;
    align-items: center;
}
.song-box .song-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
input{
    width: 100%;
    border: 1px solid #382983;
    border-radius: 10px;
    padding-left: 15px;
    height: 35px;
    transition: .3s ease-in-out;
}
textarea{
    width: 100%;
    padding-top: 5px;
    padding-left: 15px;
    border: 1px solid #382983;
    border-radius: 10px;
    height: 150px;
}
textarea:focus, input:focus{
    outline: none;
    border: 1px solid #0087D1;
}
.hidden{
    display: none;
}
.border-right-blu{
    border-right: 1px solid #382983;
}
.song-list{
    width: 100%;
    height: 60%;
    overflow-y: scroll;
}
.button-footer{
    display: flex;
    justify-content: center;
}
.upload-img{
    position: relative;
}
.upload-img img{
    border-radius: 50%;
    border: 2px solid #382983;
    height: 180px;
    width: 180px;
    cursor: pointer;
}
.upload-img .img-word{
    position: absolute;
    top: 45%;
    left: 43%;
    transform: scale(-50%, 50%);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.upload-img .img-word:hover{
    font-weight: 600;
    color: #382983;
}
#deleteSongModal .modal-body img{
    max-width: 300px;
}
#deleteSongModal .modal-footer{
    justify-content: center;
}
#deleteSongModal .modal-footer, #deleteSongModal .modal-header{
    border: none;
}
#editSongModal .modal-footer, #editSongModal .modal-header{
    justify-content: center;
}
#editSongModal .modal-header h5, #newSongModal .modal-header h5{
    width: 100%;
}
#editSongModal .modal-body ul, #newSongModal .modal-body ul{
    margin: 0;
    padding: 0;
}
#editSongModal .modal-body ul li, #newSongModal .modal-body ul li{
    list-style: none;
}
.instruments img{
    max-width: 55px;
    width: 100%;
}
.img-btn-ins{
    padding: 10px;
    border-radius: 50%;
    background-color: azure;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.img-btn-ins:hover{
    background-color: #77DAEB;
}
.img-btn{
  transition: .3s ease-in-out;
  position: relative;
  cursor: pointer;
}
.img-btn:hover{
  opacity: .7;
}
.ex-song{
  border: 1px solid #382983;
  width: 90%;
  padding: 10px;
  border-right: 20px solid #382983;
  text-align: center;
  margin: 10px auto;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.ex-song:hover{
  border: 1px solid #0087D1;
  border-right: 20px solid #0087D1;
}
.img-icon{
  max-width: 400px;
  opacity: .5;
}
.sm-img{
  max-width: 70px !important;
  height: 70px;
  width: 100%;
}
.no-event{
  max-width: 600px;
  width: 100%;
  opacity: .5;
}
.modal-btn{
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  width: 80px;
  background: #382983;
  cursor: pointer;
  color: white;
  transition: .3s ease-in-out;
  font-size: 12px;
}
.modal-btn:hover{
  background: #0087D1;
}
#imgModalg .modal-backdrop {
  background-color: red;
}
#imgModalg , #imgModalb, #imgModalp, #imgModalgp, #imgModalbp, #imgModalpp{
  background-color: rgba(56, 41, 131, .3);
}
.img-modal{
  max-width: 450px;
}
.img-noresu{
  max-width: 400px;
  margin: auto;
}
#newsong .modal-footer{
  width: 100%;
  display: flex;
  justify-content: center;
}
