.info-dashboard{
    box-shadow: 0px 0px 6px -3px rgba(56,41,131,1);
    padding: 20px;
    border-radius: 10px;
    min-height: 80vh;
}

.band-card, .music-card{
    max-width: 300px;
    height: 400px;
    margin: 20px auto 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -1px rgba(53,53,53,1);
}
.band-card img, .music-card img{
    max-width: 200px;
    width: 100%;
    height: 150px;
}
.genere-tags{
    display: flex;
    justify-content: space-around;
}
.tags{
    background-color: #382983;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-family: 'Questrial', sans-serif;
}
.modal-header, .modal-footer{
    border: none;
}
#bandModal .modal-body img{
    max-width: 200px;
}
.band-member{
    text-align: center;
}
.band-member img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #382983;
}
.member-box{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
.member-box .row{
    margin: 0;
    width: 100%;
}
#bandModal .info-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
#bandModal .modal-footer, #musicModal .modal-footer{
    display: flex;
    justify-content: center;
}
#musicModal .modal-body .profile-img{
    text-align: center;
}
#musicModal .modal-body .profile-img img{
    width: 150px;
    height: 150px;
    border: 3px solid #382983;
    border-radius: 50%;
}
#musicModal .modal-body .history-box{
    padding: 5px;
    border: 1px solid #382983;
    border-radius: 10px;
    width: 90%;
    border-left: 5px solid #0087D1;
}
#musicModal .modal-body  .modal-history{
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}
#musicModal .modal-body .right-side{
    display: flex;
    align-items: center;
    justify-content: center;
}
#bandModal .modal-body .info-box .profile-pic{
  width: 200px !important;
  height: 150px;
}
.no-result{
    text-align: center;
}
.no-result img{
    max-width: 700px;
    width: 100%;
    height: auto;
    opacity: .5;
}
.box-text{
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  max-height: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
