/* You can add global styles to this file, and also import other style files */

html{
    scroll-behavior: smooth;
}
body, p, h1, h2, h3{
    margin: 0;
}
button:focus{
    outline: none;
}


.notificacion-flotante{
    position: fixed;
    top: 80px;
    right: 19px;
    height: 79px;
    z-index: 999;
}

.navbar-custom {
    position: fixed;
    z-index: 1;
    background-color: antiquewhite;
    width: -webkit-fill-available;
    margin: 0px;
    top: 0px;
    background-color: #282e38;
    height: 70px;
    max-height: 70px;
}

.fullpage-centered{
    height: -webkit-fill-available;
    align-content: center;
    background-position: center;
}

.logo-flotante{
    position: fixed;
    bottom: 19px;
    right: 19px;
    height: 79px;
}
.side-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1;
    width: 0;
    height: 100%;
}
.myWidth{
    margin-left: 300px;
}
.myMargin{
    margin-left: 0;
    width: 300px;
}
#main {
    transition: margin-left .3s;
    padding: 0 16px;
}
.max-width{
    max-width: 1440px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.fixed-shadow{
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.3);
}
.sidebar{
    background-color: #382983;
    height: 100vh;
}
.flex-grow-10{
    flex-grow: 10;
}
.input-gr-blu{
    border-top: 2px solid #382983;
    border-bottom: 2px solid #676767;
    border-left: 2px solid #F0F0F0;
    border-right: 2px solid #F0F0F0;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    padding-left: 15px;
    font-family: 'Fira Sans', sans-serif;
    color: #353535;
}
.input-gr-blu:focus{
    outline: none;
}
.width-50p{
    width: 50%;
}
.width-90p{
    width: 90%;
}
/*BOTONES*/
.btn-wht{
    background-color: #382983;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
}
.btn-wht:hover{
    opacity: .8;
    color: white;
}
.btn-gradient{
    background: rgb(30,131,205);
    background: linear-gradient(90deg, rgba(30,131,205,1) 19%, rgba(56,41,131,1) 48%);
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 3px solid white;
    transition: .3s ease-in-out;
}
.btn-gradient:hover{
    text-decoration: none;
    color: white;
    opacity: .8;
}

.btn-wht-footer{
    background-color: white;
    padding: 10px 20px;
    border: 1px solid #0087D1;
    font-family: 'Fira Sans', sans-serif;
    color: #382983;
    border-radius: 20px;
    transition: .3s ease-in-out;
}
.btn-wht-footer:hover{
    text-decoration: none;
    opacity: 0.8;
}
.btn-lblu{
    background-color: #0087D1;
    color: white;
    font-family: 'Questrial', sans-serif;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .3s ease-in-out;
    border: none;
    cursor: pointer;
}
.btn-lblu:hover{
    text-decoration: none;
    color: white;
    opacity: .8;
}
.btn-gray{
    background-color: #757A7D;
    color: white;
    font-family: 'Questrial', sans-serif;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .3s ease-in-out;
    border: none;
    cursor: pointer;
}
.btn-gray:hover{
    background-color: #959EA3 ;
    text-decoration: none;
    color: white;
    opacity: .9;
}
.btn-back-wht{
    background-color: white;
    border: none;
    cursor: pointer;
    color: #382983;
    transition: .3s ease-in-out;
}
.btn-back-wht:hover{
    color: #0087D1;
}
.btn-red{
    color: white;
    font-family: 'Questrial', sans-serif;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #A82020;
    opacity: .7;
    transition: .3s ease-in-out;
}
.btn-red:hover{
    opacity: 1;
}
.trash-btn{
    color: red;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.trash-btn:hover{
    transform: scale(1.2);
}
.edit-btn{
    background-color: transparent;
    color: #0087D1;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: .3s ease-in-out;
}
.edit-btn:hover{
    opacity: .8;
}
/*LETRAS*/
.fira-30-wht{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 30px;
}
.fira-30-grey{
    font-family: 'Fira Sans', sans-serif;
    color: #353535;
    font-size: 30px;
}
.fira-30-blu{
    font-family: 'Fira Sans', sans-serif;
    color: #382983;
    font-size: 30px;
}
.fira-20-wht{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 20px;
    transition: .3s ease-in-out;
}
.fira-20-blu{
    font-family: 'Fira Sans', sans-serif;
    color: #382983;
    font-size: 20px;
}
.fira-18-wht{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 18px;
}
.fira-18-blu{
    font-family: 'Fira Sans', sans-serif;
    color: #382983;
    font-size: 18px;
}
.fira-16-wht{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 16px;
}
.fira-16-grey{
    font-family: 'Fira Sans', sans-serif;
    color: #353535;
    font-size: 16px;
}
.fira-16-wht:hover{
    opacity: .8;
}
.fira-15-blu{
    font-family: 'Fira Sans', sans-serif;
    color: #0087D1;
    font-size: 15px;
    transition: .3s ease-in-out;
}
.alink-blu:hover{
    text-decoration: none;
    color: #382983;
}

.quesr-40-wht{
    font-family: 'Questrial', sans-serif;
    color: white;
    font-size: 40px;
}
.quest-30-blu{
    font-family: 'Questrial', sans-serif;
    color: #382983;
    font-size: 30px;
}
.quest-20-wht{
    font-family: 'Questrial', sans-serif;
    color: white;
    font-size: 20px;
    transition: .3s ease-in-out;
}
.quest-18-blu{
    font-family: 'Questrial', sans-serif;
    color: #382983;
    font-size: 18px;
}
.quest-20-grey{
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    color: #353535;
}
.quest-18-grey{
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    color: #353535;
}
.quest-16-wht{
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: white;
}
.quest-15-grey{
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    color: #353535;
}
.quest-10-grey{
    font-family: 'Questrial', sans-serif;
    font-size: 10px;
    color: #353535;
}
.quest-20-lblu{
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    color: #0087D1;
}
.alink-20-wht:hover{
    transform: scale(1.1);
    text-decoration: none;
    color: white;
}
.alink-20-lblu:hover{
    color: #0087D1;
    opacity: .8 ;
    text-decoration: none;
}
/*FONT SIZE*/
.fsize-30{
    font-size: 30px;
}
.fsize-25{
    font-size: 25px;
}
.fsize-20{
    font-size: 20px;
}
/*MARGINS*/
.m-10-0{
    margin: 10px 0;
}
/*PADDINGS*/
.p-b-180{
    padding-bottom: 180px;
}
.p-b-100{
    padding-bottom: 100px;
}
.p-t-80{
    padding-top: 80px;
}
.p-b-60{
    padding-bottom: 60px;
}
.p-t-40{
    padding-top: 40px;
}
.p-b-40{
    padding-bottom: 40px;
}
.p-r-35{
    padding-right: 35px;
}
.p-t-30{
    padding-top: 30px;
}
.p-t-20{
    padding-top: 20px;
}
.p-b-20{
    padding-bottom: 20px;
}
.p-l-20{
    padding-left: 20px;
}
.p-r-20{
    padding-right: 20px;
}
.p-b-15{
    padding-bottom: 15px;
}
.p-t-15{
    padding-top: 15px;
}
.p-t-10{
    padding-top: 10px;
}
.p-b-10{
    padding-bottom: 10px;
}
.p-r-10{
    padding-right: 10px;
}
.p-l-10{
    padding-left: 10px;
}
.p-t-5{
    padding-top: 5px;
}
.p-b-5{
    padding-bottom: 5px;
}
.p-r-5{
    padding-right: 5px;
}
.p-0-30{
    padding: 0 30px;
}
.p-10-15{
    padding: 10px 15px;
}
.p-0-10{
    padding: 0 10px;
}
.p-30-0{
    padding: 30px 0;
}
.p-20-0{
    padding: 20px 0;
}
.p-10{
    padding: 10px;
}
@media screen and (max-width: 1440px){
    .max-width{
        padding: 0 30px;
    }
}
@media screen and (max-width: 1200px){
    .main-footer{
        justify-content: center;
        flex-wrap: wrap;
    }
    .left-footer, .right-footer{
        width: 100% !important;
    }
    .footer-line{
        width: 100% !important;
        height: 0 !important;
    }
    .lf-left-footer, .lf-right-footer{
        width: 100%;
    }
    .lf-left-footer{
        padding: 0;
        text-align: center;
        padding-bottom: 30px;
    }
    .lf-right-footer{
        padding-bottom: 40px;
        justify-content: center;
    }
    .right-footer{
        padding-top: 50px;
    }
}
@media screen and (max-width:900px){
    .login-image, .register-img{
        display: none;
    }
    .login-box, .register-box{
        width: 100% !important;
    }
    .fill-box{
        flex-wrap: wrap;
    }
    .width-50-100{
        width: 100%;
    }
}
@media (min-width: 768px) {
}