.info-dashboard{
    box-shadow: 0px 0px 6px -3px rgba(56,41,131,1);
    padding: 20px;
    border-radius: 10px;
    min-height: 80vh;
}

.album-card{
    max-width: 250px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}
.album-card img{
    width: 100%;
}
.genere-tag{
    background-color: #382983;
    color: white;
    border-radius: 10px;
    font-size: 12px;
}