<div>
    <div id="mySidenav" [class]="'side-sidebar ' + utilitiesService.sidebarClass.toString()">
        <app-sidebar class="sidebar"
            [activeLink]="1"
            [isManager]="dataSessionService.user.type.toString()=='1'"
            [nameUser]="dataSessionService.user.name"
            [imageurl]="dataSessionService.user.haveImage"
            [idUser]="dataSessionService.user.idUser"
            [imageSrc]="dataSessionService.user.imageBlob"
            [setList]="dataSessionService.elementsLed.setsList"
            ></app-sidebar>
    </div>
    <div id="main" [class]="'side-content ' + utilitiesService.navbarClass.toString()">
        <app-navbar-dashboard></app-navbar-dashboard>
        <div class="p-t-20">
            <div class="info-dashboard">
                <div class="p-b-20">
                    <h1 class="fira-30-grey">Mis Listas</h1>
                    <div class="search-bar p-t-20">
                        <input [(ngModel)]="searchValue" (ngModelChange)="filterByName($event)" class="p-input"  type="text" placeholder="Buscar una lista...">
                        <button class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="dataSessionService.elementsLed.setsList.length == 0">
                        Sin listas
                    </div>
                    <div *ngIf="setsListFiltered.length == 0 && dataSessionService.elementsLed.setsList.length > 0">
                        Sin resultados
                    </div>
                    <div *ngFor="let list of setsListFiltered; let i = index"  class="col-xl-4 col-lg-6 col-sm-12 p-20-0">
                        <div [routerLink]="'/dashboard/led/edit-list/'+list.idSet.toString()" routerLinkActive="active" class="album-card text-center album-card-selected">
                            <div>
                                <img class="list-img" *ngIf="list.haveImage == false" src="/assets/images/no-list.svg">
                                <img class="list-img" *ngIf="list.haveImage == true" [src]="list.imageBlob">
                            </div>
                            <div class="p-t-20">
                                <p class="fira-20-blu title-long">{{list.name}}</p>
                                <p class="quest-15-grey">{{list.songs.length}} canciones</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
