<div class="main-manager">
    <div id="mySidenav" [class]="'side-sidebar ' + utilitiesService.sidebarClass.toString()">
        <app-sidebar class="sidebar" 
            [activeLink]="1" 
            [isManager]="dataSessionService.user.type.toString()=='1'"
            [nameUser]="dataSessionService.user.name"
            [imageurl]="dataSessionService.user.haveImage"
            [idUser]="dataSessionService.user.idUser"
            [imageSrc]="dataSessionService.user.imageBlob" 
            [bandsList]="dataSessionService.elementsManager.bands" 
            ></app-sidebar>
    </div>
    <div id="main" [class]="'side-content ' + utilitiesService.navbarClass.toString()">
        <app-navbar-dashboard></app-navbar-dashboard>
        <div class="p-t-20">
            <div class="info-dashboard">
                <div class="p-b-20">   
                    <h1 class="fira-30-grey">Lista de bandas</h1>
                    <div class="search-bar p-t-20">
                        <input [(ngModel)]="searchValue" (ngModelChange)="filterByName($event)"  type="text" placeholder="Buscar una banda...">
                        <button class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let band of bandsFiltered; let idx = index">
                                <td *ngIf="idx % 3 === 0" scope="row">
                                    <div class="">
                                        <div class="band-card">
                                            <div class="band-card-img">
                                                <img *ngIf="dataSessionService.elementsManager.bands[idx].urlLogo.length == 0" src="/assets/images/no-band.svg">
                                                <img *ngIf="dataSessionService.elementsManager.bands[idx].urlLogo.length > 0" [src]="dataSessionService.elementsManager.bands[idx].imageBlob">
                                            </div>
                                            <p class="quest-20-grey text-center p-b-10 p-t-10">{{dataSessionService.elementsManager.bands[idx].name}}</p>
                                            <p class="quest-15-grey text-center">{{dataSessionService.elementsManager.bands[idx].description}}</p>
                                            <div>
                                                <p class="fira-16-grey text-center p-t-5 p-b-5">Generos</p>
                                                <div class="genere-tags">
                                                    <div *ngIf="dataSessionService.elementsManager.bands[idx].genres[0] != undefined" class="tags"><p>{{dataSessionService.elementsManager.bands[idx].genres[0].name}}</p></div>
                                                    <div *ngIf="dataSessionService.elementsManager.bands[idx].genres[1] != undefined" class="tags"><p>{{dataSessionService.elementsManager.bands[idx].genres[1].name}}</p></div>
                                                    <div *ngIf="dataSessionService.elementsManager.bands[idx].genres[2] != undefined" class="tags"><p>{{dataSessionService.elementsManager.bands[idx].genres[2].name}}</p></div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="idx % 3 === 0 && (idx+1)<dataSessionService.elementsManager.bands.length" scope="row">
                                    <div class="">
                                        <div class="band-card">
                                            <div class="band-card-img">
                                                <img *ngIf="dataSessionService.elementsManager.bands[idx+1].urlLogo.length == 0" src="/assets/images/no-band.svg">
                                                <img *ngIf="dataSessionService.elementsManager.bands[idx+1].urlLogo.length > 0" [src]="dataSessionService.elementsManager.bands[idx+1].imageBlob">
                                            </div>
                                            <p class="quest-20-grey text-center p-b-10 p-t-10">{{dataSessionService.elementsManager.bands[idx+1].name}}</p>
                                            <p class="quest-15-grey text-center">{{dataSessionService.elementsManager.bands[idx+1].description}}</p>
                                            <div>
                                                <p class="fira-16-grey text-center p-t-5 p-b-5">Generos</p>
                                                <div class="genere-tags">
                                                    <div *ngIf="dataSessionService.elementsManager.bands[idx+1].genres[0] != undefined" class="tags"><p>{{dataSessionService.elementsManager.bands[idx+1].genres[0].name}}</p></div>
                                                    <div *ngIf="dataSessionService.elementsManager.bands[idx+1].genres[1] != undefined" class="tags"><p>{{dataSessionService.elementsManager.bands[idx+1].genres[1].name}}</p></div>
                                                    <div *ngIf="dataSessionService.elementsManager.bands[idx+1].genres[2] != undefined" class="tags"><p>{{dataSessionService.elementsManager.bands[idx+1].genres[2].name}}</p></div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="idx % 3 === 0 && (idx+2)<dataSessionService.elementsManager.bands.length" scope="row">
                                    <div class="">
                                        <div class="band-card">
                                            <div class="band-card-img">
                                                <img *ngIf="dataSessionService.elementsManager.bands[idx+2].urlLogo.length == 0" src="/assets/images/no-band.svg">
                                                <img *ngIf="dataSessionService.elementsManager.bands[idx+2].urlLogo.length > 0" [src]="dataSessionService.elementsManager.bands[idx+2].imageBlob">
                                            </div>
                                            <p class="quest-20-grey text-center p-b-10 p-t-10">{{dataSessionService.elementsManager.bands[idx+2].name}}</p>
                                            <p class="quest-15-grey text-center">{{dataSessionService.elementsManager.bands[idx+2].description}}</p>
                                            <div>
                                                <p class="fira-16-grey text-center p-t-5 p-b-5">Generos</p>
                                                <div class="genere-tags">
                                                    <div *ngIf="dataSessionService.elementsManager.bands[idx+2].genres[0] != undefined" class="tags"><p>{{dataSessionService.elementsManager.bands[idx+2].genres[0].name}}</p></div>
                                                    <div *ngIf="dataSessionService.elementsManager.bands[idx+2].genres[1] != undefined" class="tags"><p>{{dataSessionService.elementsManager.bands[idx+2].genres[1].name}}</p></div>
                                                    <div *ngIf="dataSessionService.elementsManager.bands[idx+2].genres[2] != undefined" class="tags"><p>{{dataSessionService.elementsManager.bands[idx+2].genres[2].name}}</p></div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </td>
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
