<div class="main-manager">
    <div id="mySidenav" [class]="'side-sidebar ' + utilitiesService.sidebarClass.toString()">
        <app-sidebar class="sidebar"
            [activeLink]="1"
            [isManager]="dataSessionService.user.type.toString()=='1'"
            [nameUser]="dataSessionService.user.name"
            [imageurl]="dataSessionService.user.haveImage"
            [idUser]="dataSessionService.user.idUser"
            [imageSrc]="dataSessionService.user.imageBlob"
            [bandsList]="dataSessionService.elementsManager.bands"
            ></app-sidebar>
    </div>
    <div id="main" [class]="'side-content ' + utilitiesService.navbarClass.toString()">
        <app-navbar-dashboard></app-navbar-dashboard>
        <div class="p-t-20">
            <div class="info-dashboard">
                <div class="p-b-20">
                    <h1 class="fira-30-grey">Lista de bandas</h1>
                    <div class="search-bar p-t-20">
                        <input [(ngModel)]="searchValue" (ngModelChange)="filterByName($event)"  type="text" placeholder="Buscar una banda...">
                        <button class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="dataSessionService.elementsManager.bands.length == 0"  class="col">
                        <div class="text-center">
                            <div class="">
                                <img class="no-result-img" src="/assets/images/no-result.svg">
                            </div>
                            <p class="quest-18-grey">Sin Bandas</p>
                        </div>
                    </div>
                    <div *ngIf="bandsFiltered.length == 0 && dataSessionService.elementsManager.bands.length != 0"  class="col">
                        <div class="text-center">
                            <div class="profile-box">
                                <img class="profile-pic" src="/assets/images/no-band.svg">
                            </div>
                            <p class="fira-18-blu">Sin resultados</p>
                        </div>
                    </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 p-b-10 p-t-10"  *ngFor="let band of bandsFiltered; let idx = index">
                    <div class="routerLink-nofoc" scope="row" routerLink="/dashboard/manager/band-info/{{band.idBand}}" routerLinkActive="active">
                        <div class="">
                            <div class="band-card">
                                <div class="band-card-img">
                                    <img *ngIf="band.urlLogo.length == 0" src="/assets/images/no-band.svg">
                                    <img *ngIf="band.urlLogo.length > 0" [src]="band.imageBlob">
                                </div>
                                <p class="quest-20-grey text-center p-b-10 p-t-10">{{band.name}}</p>
                                <p class="quest-15-grey text-center max-lines">{{band.description}}</p>
                                <div>
                                    <p class="fira-16-grey text-center p-t-5 p-b-5">Generos</p>
                                    <div class="genere-tags">
                                        <div *ngIf="band.genres[0] != undefined" class="tags"><p>{{band.genres[0].name}}</p></div>
                                        <div *ngIf="band.genres[1] != undefined" class="tags"><p>{{band.genres[1].name}}</p></div>
                                        <div *ngIf="band.genres[2] != undefined" class="tags"><p>{{band.genres[2].name}}</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
